{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <h2>Расчет зарплаты</h2>
    <form method="post">
        {% csrf_token %}

        <div class="form-group mb-3">
            <label>Сотрудник</label>
            {{ form.employee }}
        </div>

        <div class="form-group mb-3">
            <label>Месяц</label>
            {{ form.month }}
        </div>

        <div class="form-group mb-3">
            <label>Год</label>
            {{ form.year }}
        </div>

        <div class="form-group mb-3">
            <label>Ставка 1 разряда</label>
            <input type="number" step="0.01" name="rate_1" class="form-control" value="{{ form.rate_1.value|default:'' }}">
        </div>

        <div class="form-group mb-3">
    <label>Тарифный коэффициент</label>
    <select name="tariff_coef" class="form-control">
        <option value="3.72">3,72</option>
        <option value="3.25">3,25</option>
    </select>
        </div>
        <div class="form-group mb-3">
            <label>Процент повышения</label>
            <select name="increase_percent" class="form-control">
                <option value="269">269</option>
                <option value="200">200</option>
            </select>
        </div>

        <div class="form-group mb-3">
            <label>Процент по контракту</label>
            <select name="contract_percent" class="form-control">
                <option value="50">50</option>
                <option value="50">50</option>
            </select>
        </div>

        <div class="form-group mb-3">
            <label>Процент за стаж</label>
            <select name="percent_experience" class="form-control">
                <option value="20">20</option>
                <option value="20">20</option>
            </select>
        </div>

        <div class="form-group mb-3">
            <label>Премия</label>
            <input type="number" name="bonus" class="form-control" value="0">

        </div>

        {% for field in form %}
            {% if field.name not in 'employee,month,year,rate_1,tariff_coef,increase_percent,contract_percent,percent_experience,bonus' %}

                <div class="form-group mb-3">
                    <label>{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}

        <button type="submit" class="btn-show">Сохранить</button>
    </form>
</div>
{% endblock %}
